<nz-table #nzTable [nzData]="displayedData">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>Redirect to</th>
            <th>Number of click</th>
            <th>Link</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data.title }}</td>
            <td>{{ data.url }}</td>
            <td>{{ data.count }}</td>
        <td><p nz-paragraph nzCopyable nzCopyText="{{getApiURL(data)}}">{{data.api_point}}</p></td>
            <td> <a (click)="delete(data)"> <i nz-icon [nzType]="'delete'"></i></a></td>
        </tr>
    </tbody>
</nz-table>
